/*
Errno::ENOENT: No such file or directory - s.sass

Backtrace:
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `read'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:235:in `watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:455:in `watch_or_update'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:318:in `process_result'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/bin/sass:9:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - s.sass"; }
