/*
Errno::ENOENT: No such file or directory - s.sass

Backtrace:
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `read'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:360:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/lib/sass/plugin/compiler.rb:283:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.10/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - s.sass"; }
