.twitter-share-button {
  position: absolute;
  z-index: 99;
  bottom: 10px;
  left: 10px; }
  @media (max-width: 480px) {
    .twitter-share-button {
      display: none; } }

* {
  box-sizing: padding-box; }

body {
  background: #554f67;
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 0.75em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 1.3em;
  color: #554f67;
  line-height: 1em; }

h2 {
  margin-top: 1.2em;
  font-size: 2.5em;
  font-weight: normal;
  color: #5bbdae; }
  @media (max-width: 480px) {
    h2 {
      font-size: 2em; } }

h3 {
  font-weight: normal;
  font-size: 1.75em;
  line-height: 1.714em;
  color: #423d4f;
  margin-top: 1.714em; }
  h3:first-child {
    margin-top: 0; }

h4 {
  color: #423d4f;
  margin-top: 2.5em;
  font-size: 1.3em; }
  h4 code {
    margin-left: 6px; }

h3 + p {
  margin-top: 1em; }

h4 + p {
  margin-top: 0.5em; }

h3 + h4 {
  margin-top: 1.125em; }

p,
li {
  color: #535158;
  font-size: 1.3em;
  line-height: 1.75em;
  padding: 0;
  margin: 0; }
  p code,
  li code {
    font-size: 14px;
    padding: 0 5px; }
  p.intro,
  li.intro {
    font-size: 1.5em;
    line-height: 1.8em;
    margin-top: 1em; }
  p a,
  li a {
    color: #ff7448;
    text-decoration: none; }
    p a:hover,
    li a:hover {
      text-decoration: underline; }

li {
  font-size: 1em; }

em {
  font-weight: bold;
  font-style: normal; }

code {
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 1px 5px;
  font-weight: normal;
  font-size: 1em;
  color: #666; }
  code[data-gist] {
    background: none;
    border: none;
    padding: 0; }

.source {
  margin: 3em 0 20px;
  position: relative; }
  @media (max-width: 480px) {
    .source {
      position: static; } }

.download,
.github {
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  text-decoration: none; }
  .download b,
  .github b {
    font-weight: normal; }
  @media (max-width: 480px) {
    .download,
    .github {
      width: 100%;
      text-align: center;
      position: static; } }

.download {
  color: white;
  display: inline-block;
  background: #ff7448;
  padding: 0px 10px;
  border-radius: 3px;
  background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }
  @media (max-width: 480px) {
    .download {
      padding: 0; } }
  .download:active {
    background: #F86536;
    background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.3), inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1); }

.github {
  position: absolute;
  color: #5a536c;
  right: 0;
  padding-left: 30px;
  background-image: url(img/github-logo.png);
  background-repeat: no-repeat;
  background-position-y: center; }
  @media (max-width: 480px) {
    .github {
      padding: 0;
      background: none; } }

.container {
  background: white;
  width: 630px;
  position: fixed;
  right: 0;
  height: 100%;
  overflow: scroll;
  background: #faf9fa;
  z-index: 50;
  -moz-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 1024px) {
    .container {
      width: 100%;
      position: static; } }
  .container > section {
    padding: 36px 50px;
    border-top: 1px solid #E3E3E3; }
    @media (max-width: 480px) {
      .container > section {
        padding: 3em 25px; } }

.intro {
  background: white; }

.introduction {
  position: relative; }

.awkward {
  display: block;
  position: absolute;
  width: 20px;
  height: 32px;
  text-indent: -9999px;
  top: -7px;
  right: 0;
  background: url(img/awkie.png);
  opacity: 0.8;
  background-size: 20px 32px; }
  .awkward:hover {
    opacity: 1; }

.modals-container {
  margin-right: 640px; }
  @media only screen and (max-width: 1024px) {
    .modals-container {
      margin: 20px;
      height: 600px; } }
  .modals-container .bbm-wrapper {
    background: rgba(85, 79, 103, 0.5);
    z-index: 10;
    padding-right: 640px; }
    @media only screen and (max-width: 1024px) {
      .modals-container .bbm-wrapper {
        position: absolute;
        padding: 10px;
        top: 0;
        height: 600px; } }

.bbm-modal__tab {
  padding: 0; }
  .bbm-modal__tab a {
    display: block;
    padding-top: 55px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    text-decoration: none;
    font-size: 13px; }
    .bbm-modal__tab a:before {
      position: absolute;
      content: "";
      background: url(img/tab-icons.png);
      left: 50%;
      top: 10px;
      margin-left: -20px;
      width: 40px;
      height: 40px;
      opacity: 0.5; }
    .bbm-modal__tab a.active {
      opacity: 1; }
      .bbm-modal__tab a.active:before {
        opacity: 1; }
  .bbm-modal__tab:last-child {
    margin-left: -5px; }
    .bbm-modal__tab:last-child a:before {
      background-position: -40px; }

.bbm-modal__section p {
  margin-top: 10px; }
.bbm-modal__section ul {
  padding: 0;
    padding-left: 30px; }

.bbm-button {
  font-weight: bold;
  padding-top: 11px;
  padding-bottom: 9px; }

.changelog ul {
  padding: 0;
    padding-left: 20px; }

.gist {
  color: #535158;
  margin-top: 1.5em; }
  .gist .gist-file {
    margin-bottom: 1.5em;
    border: 0 none; }
    .gist .gist-file .gist-data {
      font-family: Monaco, Andale Mono, monospace;
      font-size: 1.333em;
      line-height: 1.125em;
      background: #f0f0f0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
      border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      overflow: scroll; }
      @media (max-width: 480px) {
        .gist .gist-file .gist-data {
          font-size: 11px; } }
      .gist .gist-file .gist-data .line-numbers {
        padding: 0.6em;
        font-size: 0.688em;
        color: #bbb;
        border: 0 none;
        -webkit-border-top-left-radius: 3px;
        -moz-border-top-left-radius: 3px;
        border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-bottom-left-radius: 3px;
        border-bottom-left-radius: 3px;
        text-align: right; }
        @media (max-width: 480px) {
          .gist .gist-file .gist-data .line-numbers {
            display: none; } }
        .gist .gist-file .gist-data .line-numbers .line-number {
          display: block;
          clear: right; }
      .gist .gist-file .gist-data .line-data {
        padding: 0 10px !important; }

.gist .gist-syntax .na, .gist .gist-syntax .k, .gist .gist-syntax .s {
  color: #ff7448; }
.gist .gist-syntax .kt, .gist .gist-syntax .m, .gist .gist-syntax .mi, .gist .gist-syntax .no, .gist .gist-syntax .kc {
  color: #00ffbe; }
.gist .gist-syntax .n, .gist .gist-syntax .s1, .gist .gist-syntax .s2, .gist .gist-syntax .sx {
  color: #5bbdae; }
.gist .gist-syntax .nc, .gist .gist-syntax .nt {
  color: #84d6ed; }
.gist .gist-syntax .nd, .gist .gist-syntax .nf {
  color: #c0aafc; }
.gist .gist-syntax .nv {
  color: #fb8a95; }
.gist .gist-syntax .nd, .gist .gist-syntax .o {
  color: #333; }
.gist .gist-syntax .na, .gist .gist-syntax .k, .gist .gist-syntax .kt, .gist .gist-syntax .m, .gist .gist-syntax .mi, .gist .gist-syntax .no, .gist .gist-syntax .n, .gist .gist-syntax .s1, .gist .gist-syntax .s2, .gist .gist-syntax .sx, .gist .gist-syntax .nc, .gist .gist-syntax .nt, .gist .gist-syntax .nd, .gist .gist-syntax .nf, .gist .gist-syntax .nv, .gist .gist-syntax .nd, .gist .gist-syntax .o {
  font-weight: normal !important; }
.gist .gist-syntax .c, .gist .gist-syntax .c1 {
  color: #9fa0a6; }

.gist-meta {
  display: none; }

/*# sourceMappingURL=s.css.map */
