// ----------------------------------------------------------------------------
// DEFAULT STYLING
// ----------------------------------------------------------------------------

// Backdrop
.bb-modal-wrapper
  background: rgba(0,0,0,.75)

// Modal
.bb-modal
  background: white
  box-shadow: 0 0px 6px rgba(0,0,0,.6), 0 1px 2px rgba(0,0,0,.9)

// ----------------------------------------------------------------------------
// MODAL COMPONENTS
// ----------------------------------------------------------------------------

.bb-modal-bottombar,
.bb-modal-titlebar
  padding: 18px

.bb-modal-titlebar,
.bb-modal-tabbar
  border-bottom: 1px solid rgba(0,0,0,.1)


// Titlebar
.bb-modal-titlebar
  color: #222

.titlebar-title
  padding: 0
  margin: 0
  font:
    weight: bold
    size: 16px
  line-height: 1em

// Tabbar
.bb-modal-tabbar
  ul
    list-style: none
    text-align: center
    padding: 0
    margin: 0

.tabbar-tab
  display: inline-block
  padding: 15px 10px

  a
    font:
      size: 16px
      weight: bold
    color: #999

    &:hover,
    &.active
      color: #222

// Bottombar
.bb-modal-bottombar
  border-top: 1px solid rgba(0,0,0,.1)
  padding: 18px
  text-align: right
  margin-top: 25px

// ----------------------------------------------------------------------------
// MODULES
// ----------------------------------------------------------------------------

// Group (clearfix)
.bb-modal-group
  content: ""
  display: table
  clear: both

// Buttons
.bb-modal-button
  display: inline-block
  border: 1px solid #C3C3C3
    bottom: 1px solid #9E9E9E
  color: rgba(65,66,69,.9)
  text-decoration: none
  font:
    size: 14px
    weight: 500
  position: relative
  line-height: 1em
  display: inline-block
  padding: 7px 13px
  border-radius: 3px
  background: #EEEDED
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12)


// Section
.bb-modal-section
  padding: 0 25px
  margin-top: 25px

.bb-modal-section-info
  margin-bottom: 15px

.section-title
  font:
    size: 18px
    weight: 500
  margin: 0
  margin-bottom: 2px
  padding: 0

.section-description
  font:
    size: 14px
  padding: 0
  margin: 0
  color: #666

.section-row
  width: 100%
  margin-bottom: 15px

  &:last-child
    margin-bottom: 0

.section-column
  width: calc(50% - 8px)
  float: left

  &:first-child
    margin-right: 8px

  &:last-child
    margin-left: 8px


// Form elements
label
  font:
    size: 13px
    weight: 500
  color: #666
  line-height: 24px

input
  height: 35px
  width: 100%
  padding: 0 10px
  outline: 0
  font-size: 13px
  font-family: "Helvetica Neue"
  color: #333
  border: none
  background: #F5F5F6
  border-radius: 3px
  box-shadow: inset 0 1px 2px rgba(0,0,0,.45), inset 0 0 2px rgba(0,0,0,.349)

  &:focus
    box-shadow: inset 0 1px 2px rgba(30, 88, 190, 0.8), inset 0 0 2px rgba(7, 34, 81, 0.78), 0 0 2px #4585f1
    color: #000

// Animation Keyframes
@-webkit-keyframes framer-animation-1-1
  0%
    -webkit-transform: matrix(0.99, 0, 0, 0.99, 0, 43)
    opacity: 0
  100%
    -webkit-transform: matrix(1, 0, 0, 1, 0, 50)
    opacity: 1
  5.88235%
    -webkit-transform: matrix(0.99096, 0, 0, 0.99096, 0, 43.67414)
    opacity: 0.09631
  11.76471%
    -webkit-transform: matrix(0.99188, 0, 0, 0.99188, 0, 44.31234)
    opacity: 0.18748
  17.64706%
    -webkit-transform: matrix(0.99275, 0, 0, 0.99275, 0, 44.92214)
    opacity: 0.27459
  23.52941%
    -webkit-transform: matrix(0.99358, 0, 0, 0.99358, 0, 45.50529)
    opacity: 0.3579
  29.41176%
    -webkit-transform: matrix(0.99437, 0, 0, 0.99437, 0, 46.06209)
    opacity: 0.43744
  35.29412%
    -webkit-transform: matrix(0.99513, 0, 0, 0.99513, 0, 46.59208)
    opacity: 0.51315
  41.17647%
    -webkit-transform: matrix(0.99585, 0, 0, 0.99585, 0, 47.09433)
    opacity: 0.5849
  47.05882%
    -webkit-transform: matrix(0.99653, 0, 0, 0.99653, 0, 47.56743)
    opacity: 0.65249
  52.94118%
    -webkit-transform: matrix(0.99716, 0, 0, 0.99716, 0, 48.00957)
    opacity: 0.71565
  58.82353%
    -webkit-transform: matrix(0.99774, 0, 0, 0.99774, 0, 48.41843)
    opacity: 0.77406
  64.70588%
    -webkit-transform: matrix(0.99827, 0, 0, 0.99827, 0, 48.7912)
    opacity: 0.82731
  70.58824%
    -webkit-transform: matrix(0.99875, 0, 0, 0.99875, 0, 49.12439)
    opacity: 0.87491
  76.47059%
    -webkit-transform: matrix(0.99916, 0, 0, 0.99916, 0, 49.41369)
    opacity: 0.91624
  82.35294%
    -webkit-transform: matrix(0.99951, 0, 0, 0.99951, 0, 49.65374)
    opacity: 0.95053
  88.23529%
    -webkit-transform: matrix(0.99977, 0, 0, 0.99977, 0, 49.83777)
    opacity: 0.97682
  94.11765%
    -webkit-transform: matrix(0.99994, 0, 0, 0.99994, 0, 49.95704)
    opacity: 0.99386


.modal-fadeIn
  -webkit-animation-duration: 0.3s
  -webkit-animation-name: framer-animation-1-1
  -webkit-animation-timing-function: linear
  -webkit-animation-fill-mode: both
  -webkit-transform-origin: 50% 50%
  -webkit-backface-visibility: hidden